*{
    margin: 0;
    padding: 0;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-pic{
    width: 120px;
}
.menus{
    display: flex;
}
.items{
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.items:hover{
    color: blue;
}

.banner-img{
    width: 300px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 56px;
    font-weight: bold;
}
.description{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: aliceblue;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top: 10px;
}
.second-title{
    font-size: 25px;
}
.description-second{
    padding: 10px;
}

.box{
    height: 280px;
    width: 230px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 25px;
    box-shadow: 4px 4px 15px rgb(70, 69, 69);
    align-items: center;
    border-radius: 10px;
}
.icon{
    width: 78px;
}
.service-dev{
    padding: 10px;
}
.service-details{
    margin-top: 20px;
}
.service-container{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    /* background-image:url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53)); */
    background-position: center;
    background-size: cover;
}
.backchange{
    background-image:url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    padding:80px;
    color:white;
}
